﻿@model PhalSabzi.Models.Item
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section css{
}
<!-- //breadcrumb -->
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add Item</h4>
            @using (Html.BeginForm("Add", "Items", new { area = "Admin" }, FormMethod.Post, new { id = "commentForm", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="exampleInputName1">Name</label>
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Name", required = "required", title = "Please Enter Item Name" })
                        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="exampleInputName1">Category</label>
                        @Html.DropDownListFor(x => x.Category,
    new List<SelectListItem> {
                          new SelectListItem { Value = "Fruits" , Text = "Fruits" },
                          new SelectListItem { Value = "Vegitables" , Text = "Vegitables" },
                               },
      "-Select-", new { @class = "js-example-basic-single", style = "width:100%" })
                        @Html.ValidationMessageFor(x => x.Category, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="exampleInputName1">Season</label>
                        @Html.DropDownListFor(x => x.Season,
    new List<SelectListItem> {
                          new SelectListItem { Value = "Summer" , Text = "Summer" },
                          new SelectListItem { Value = "Winter" , Text = "Winter" },
                               },
      "-Select-", new { @class = "js-example-basic-single", style = "width:100%" })
                        @Html.ValidationMessageFor(x => x.Season, "", new { @class = "text-danger" })
                    </div>
                </div>
                    <div class="col-md-8">
            <div class="form-group">
                <label for="exampleInputName1">Price</label>
                @Html.TextBoxFor(x => x.Price, new { @class = "form-control", placeholder = "Price", required = "required", title = "Please Enter Item price" })
                @Html.ValidationMessageFor(x => x.Price, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="exampleInputName1">Quantity</label>
                @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control", placeholder = "Quantity", required = "required", title = "Please Enter Item quantity" })
                @Html.ValidationMessageFor(x => x.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="exampleInputName1">Type</label>
                @Html.DropDownListFor(x => x.Type,
    new List<SelectListItem> {
                          new SelectListItem { Value = "Killo" , Text = "Killo" },
                          new SelectListItem { Value = "Dozen" , Text = "Dozen" },
                               },
      "-Select-", new { @class = "js-example-basic-single", style = "width:100%" })
                @Html.ValidationMessageFor(x => x.Type, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="exampleInputName1">Sales/Permotions</label>
                @Html.TextBoxFor(x => x.Sales, new { @class = "form-control", placeholder = "Sales" })
                @Html.ValidationMessageFor(x => x.Sales, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="exampleInputName1">Discription</label>
                @Html.TextAreaFor(x => x.Discription, new { @class = "form-control", placeholder = "Discription" })
                @Html.ValidationMessageFor(x => x.Discription, "", new { @class = "text-danger" })
            </div>
        </div>
                <div class="form-group">
                    <label>Picture upload</label>
                    <input type="file" name="file" id="imgInp" class="file-upload-default" required title="Please upload a Picture">
                    <div class="input-group col-md-8">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Picture">
                        <span class="input-group-append">
                            <button class="file-upload-browse btn btn-warning mdi mdi-upload" type="button"> Upload Picture &nbsp;&nbsp;</button>
                        </span>
                    </div>
                    <img id="blah" src="~/Team_Profiles/files/dummyUser_1.jpg" alt=Item_Image style="width:165px; height:165px;float:right;margin-top:-17%;margin-right:10%;" />
                </div>
                <button type="submit" class="btn btn-success mr-2">Submit</button>
                @Html.ActionLink("Back to List", "Index", "Items", new { area = "Admin" }, new { @class = "btn btn-success mr-2" })}
        </div>
    </div>
    </div>



    @section scripts{
        @*Start script for tags and file upload and validation*@
        <script src="~/Content/adminassets/node_modules/jquery-file-upload/js/jquery.uploadfile.min.js"></script>
        <script src="~/Content/adminassets/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/Content/adminassets/js/file-upload.js"></script>
        <script src="~/Content/adminassets/js/form-validation.js"></script>
        @*End script for tags and file upload and validation*@

        <script>
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#blah').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#imgInp").change(function () {
                readURL(this);
            });
        </script>
    }
