﻿
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section css{
    <link rel="stylesheet" href="~/Content/adminassets/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="~/Content/adminassets/node_modules/jquery-toast-plugin/dist/jquery.toast.min.css">
    <link href="~/Content/assets/css/loaders.min.css" rel="stylesheet" />
<style>
    .line-scale div {
        background-color: #337ab7 !important;
        max-height: 26px;
    }

    a {
        color: black;
    }
</style>
}


<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <a href="~/Admin/Items/Index">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi  mdi-file-powerpoint text-danger icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <p class="card-text text-right">Total Items</p>
                            <div class="fluid-container">
                                <div id="L-3" class="line-scale"><div></div><div></div><div></div><div></div></div>
                                <h3 class="card-title font-weight-bold text-right mb-0" id="P-3" style="font-weight:700;"></h3>
                            </div>
                        </div>
                    </div>

                </div>
            </a>
        </div>
</div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <a href="~/Admin/Users/Index">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-account-multiple-plus text-info icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <p class="card-text text-right">Total Users</p>
                            <div class="fluid-container">
                                <div id="L-4" class="line-scale"><div></div><div></div><div></div><div></div></div>
                                <h3 class="card-title font-weight-bold text-right mb-0" id="P-4" style="font-weight:700;"></h3>
                            </div>
                        </div>
                    </div>

                </div>
            </a>
        </div>
    </div>
</div>


@section scripts{

    @Scripts.Render("~/bundles/indexbundle")
    <script src="~/Content/adminassets/js/dashboard.js"></script>
    <script>
        $(document).ready(function () {
            for (var i = 1; i < 4; i++) {
                load(i);
            }
        });

 function load(id) {

                $("#L-" + id).show();
                var getUrl = "/Items/DashboardCounters";
                $.ajax({
                    url: getUrl,
                    type: "POST",
                    data: { flag: id },
                    success: function (response) {
                        $("#P-" + id).html(response.count);
                        $("#L-" + id).hide();
                    },
                    complete: function (data) {
                    }
                });
            }
    </script>
}
