﻿@model List<PhalSabzi.Models.Item>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section css{
    <link rel="stylesheet" href="~/Content/adminassets/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="~/Content/adminassets/node_modules/jquery-toast-plugin/dist/jquery.toast.min.css">
}
<input type="hidden" id="notifyMessage" value="@ViewBag.Message" />
<div class="card">
    <div class="card-body">
        <div class="row">
            <a href="~/Admin/Items/Add"><button type="submit" class="btn btn-success btn-lg mr-2">Add New Item</button></a>

        </div>
    </div>
</div>
<br />

<div class="card">
    <div class="card-body">
        <h4 class="card-title">All Items</h4>
        <div class="row">
            <div class="col-12">
                <table id="order-listing" class="table table-hover" cellspacing="0">
                    <thead>
                        @{
                            int i = 1;
                        }

                        <tr>
                            <th>Sr #</th>
                            <th>Picture</th>
                            <th>Item Name</th>
                            <th>Category</th>
                            <th>Season</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td class="py-1">
                                    @if (item.Pic_Path != null)
                                    {
                                        <img src="~/Items/Images/@item.Pic_Path" alt="image" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/adminassets/images/faces-clipart/pic-1.png" alt="image">
                                    }
                                    </td>
                                    <td>@item.Name</td>
                                    <td>@item.Category</td>
                                    <td>@item.Season</td>

                                    <td>
                                        @Html.ActionLink("Edit", "Edit", "Items", new { id = item.ID, area = "Admin" }, new { @class = "btn btn-outline-info" })
                                        @Html.ActionLink("Delete", "Delete", "Items", new { id = item.ID, area = "Admin" }, new { @class = "btn btn-outline-danger" })
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                        else
                        {
                            <tr><td>No Data Available</td></tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/indexbundle")
}