﻿<div class="top_header">
    <div class="container">
        <div class="pull-left header_left">
            <ul>
                <li><a href="#/">Order On Phone: <span>+321 453 68 739</span></a></li>
                <li><i class="fa fa-envelope-o s_color" aria-hidden="true"></i><a href="#/">phalandsabzi@gmail.com</a></li>
            </ul>
        </div>

        <div class="pull-right header_right">
            <div class="state" id="value1">

                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <ul>
                            <li><i class="fa fa-user s_color" aria-hidden="true"></i><a href="~/Account/Login">Welcome @User.Identity.Name</a></li>
                            <li><i class="fa fa-truck s_color" aria-hidden="true"></i><a href="~/Admin/Items/Dashboard">Admin Panel</a></li>
                            <li><i class="fa fa-heart s_color" aria-hidden="true"></i><a href="/Shopping/Wishlist">Whishlist </a></li>
                            <li><i class="fa fa-heart s_color" aria-hidden="true"></i><a href="javascript:document.getElementById('logoutForm').submit()">Logout </a></li>
                        </ul>
                    }
                }
                else if (User.Identity.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                    <ul>
                        <li><i class="fa fa-user s_color" aria-hidden="true"></i><a href="~/Account/Login"> Welcome @User.Identity.Name</a></li>
                        <li><i class="fa fa-heart s_color" aria-hidden="true"></i><a href="/Shopping/Wishlist">Whishlist</a></li>
                        <li><i class="fa fa-heart s_color" aria-hidden="true"></i><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
                    </ul>
                    }
                }
                else
                {
                    <ul>
                        <li>
                            <i class="fa fa-user s_color" aria-hidden="true"></i><a href="~/Account/Login">
                                Login / Register
                            </a>
                        </li>
                        <li>
                            <i class="fa fa-heart s_color" aria-hidden="true"></i><a href="/Shopping/Wishlist">
                                Whishlist
                            </a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <!-- End of .container -->
</div>
<!-- End of .top_header -->

<div class="bottom_header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="search-box">
                    <form action="#/" class="clearfix">
                        <input type="text" placeholder="Search...">
                        <button><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
            <div class="col-md-4 col-sm-5 col-xs-6 logo-responsive">
                <div class="logo-area">
                    <a href="~/Home/Index" class="pull-left logo">
                        <img src="~/Content/Logo office.png" style="width:280px;height:120px;margin-top:-10%;" alt="LOGO" />
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-7 col-xs-6 pdt-14">
                <div class="login_option float_left">
                    <div class="login_form">
                        <div class="user">

                            <i class="icon-photo"></i>
                        </div>
                        <div class="login-info">
                            <!-- select menu -->
                            <div class="g-input f1 mb-30">
                                <ul>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <div class="welcome">Welcome!</div>
                                        <li> @User.Identity.Name </li>
                                    }
                                    else
                                    {
                                        <li><a href="~/Account/Login">Login</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End of .cart_list -->
                </div>
                <div class="cart_option float_left">
                    <button class="cart tran3s dropdown-toggle" id="cartDropdown"><i class="fa icon-icon-32846" aria-hidden="true"></i><span class="s_color_bg p_color">0</span></button>
                    <div class="cart-info">
                        <div>My Cart</div>
                        <div class="doller">Rs 0.00</div>
                    </div>

                    <div class="cart_list color2_bg" aria-labelledby="cartDropdown">
                        <!----start partial view load---->
                        <ul id="cartshow"></ul>
                        <!----End of partial view----->
                        <div id="cartot" class="cart_total clear_fix">
                            <span class="total font_fix float_left pricsum">Total - Rs 0</span>
                            <a href="/Shopping/FinalCart" class="s_color_bg float_right tran3s">View Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End of .bottom_header -->
