﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- For Resposive Device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>PhalSabzi Store</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/images/fav-icon/apple-icon-57x57.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/fav-icon/favicon-16x16.png">

    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
    <!-- Custom Css -->
    @*<link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
        <link rel="stylesheet" type="text/css" href="~/Content/css/responsive.css">*@
    @RenderSection("css", false)

    <!-- Fixing Internet Explorer ______________________________________-->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="~/Content/vendor/html5shiv.js"></script>
    <![endif]-->
</head>


<body>
    <div class="main_page">

        <!-- Header *******************************  -->
        <header>

            @Html.Partial("/Views/Shared/_HeaderPartial.cshtml")

        </header>
        <!-- End of .bottom_header -->
        <!-- Menu ******************************* -->
        @Html.Partial("/Views/Shared/_SidebarPartial.cshtml")
        <!-- End of .theme_menu -->
        <!-- Banner  -->
        <!-- End of #banner -->

        @RenderBody()

        <!-- Footer************************* -->
        <footer>

            @Html.Partial("/Views/Shared/_FooterPartial.cshtml")

        </footer>

        <!-- Scroll Top Button -->
        <button class="scroll-top tran3s color2_bg">
            <span class="fa fa-angle-up"></span>
        </button>
        <!-- pre loader  -->
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>


        <!-- Js File_________________________________ -->
        <!-- j Query -->
        <script type="text/javascript" src="~/Content/js/jquery-2.1.4.js"></script>
        <!-- Bootstrap JS -->
        <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>

        <!-- Vendor js _________ -->
        <!-- Google map AIzaSyB7_UDfqP0CBlbvLxuQINxwgOPTfoby-xc js -->
        @*<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7_UDfqP0CBlbvLxuQINxwgOPTfoby-xc&callback=initMap"
            type="text/javascript"></script>*@
        @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7_UDfqP0CBlbvLxuQINxwgOPTfoby-xc"></script>*@
        @*<script src="~/Content/js/gmap.js"></script>*@
        <!-- owl.carousel -->
        <script type="text/javascript" src="~/Content/js/owl.carousel.min.js"></script>
        <!-- ui js -->
        <script type="text/javascript" src="~/Content/js/jquery-ui.min.js"></script>
        <!-- Responsive menu-->
        <script type="text/javascript" src="~/Content/js/menuzord.js"></script>
        <!-- revolution -->
        <script src="~/Content/vendor/revolution/jquery.themepunch.tools.min.js"></script>
        <script src="~/Content/vendor/revolution/jquery.themepunch.revolution.min.js"></script>
        <script type="text/javascript" src="~/Content/vendor/revolution/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="~/Content/vendor/revolution/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="~/Content/vendor/revolution/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="~/Content/vendor/revolution/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="~/Content/vendor/revolution/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="~/Content/vendor/revolution/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="~/Content/vendor/revolution/revolution.extension.migration.min.js"></script>

        <!-- landguage switcher js -->
        <script type="text/javascript" src="~/Content/js/jquery.polyglot.language.switcher.js"></script>
        <!-- Fancybox js -->
        <script type="text/javascript" src="~/Content/js/jquery.fancybox.pack.js"></script>
        <!-- js count to -->
        <script type="text/javascript" src="~/Content/js/jquery.appear.js"></script>
        <script type="text/javascript" src="~/Content/js/jquery.countTo.js"></script>
        <!-- WOW js -->
        <script type="text/javascript" src="~/Content/js/wow.min.js"></script>
        <script type="text/javascript" src="~/Content/js/SmoothScroll.js"></script>
        <script src="~/Content/js/bootstrap-select.min.js"></script>
        <script src="~/Content/js/jquery.mixitup.min.js"></script>
        <!-- Theme js -->
        <script type="text/javascript" src="~/Content/js/theme.js"></script>
        <script type="text/javascript" src="~/Content/js/google-map.js"></script>
        <script>
            //$(document).ready(function () {

            function myfun() {
                //debugger;
                var pages = 0;
                if ($('ul li.productTile').length == 0) {
                    $(".doller").text('Rs ' + 0);
                    $("#cartot").find('span').text('Total - ' + 0);
                    $('button.cart.tran3s.dropdown-toggle span').text(0)
                }
                else {
                    $('#test1 span').each(function () {
                        pages += +$(this).length;
                        var sum = 0;
                        $('.font_fix').each(function () {
                            sum += +$(this).text() || 0;
                        });
                        //alert(pages);
                        $(".doller").text('Rs ' + sum);
                        $("#cartot").find('span').text('Total - ' + sum);
                        $('button.cart.tran3s.dropdown-toggle span').text(pages)
                    });
                }
            }
            $(document).ready(function () {
                cartdata()
            });
            function cartdata() {
                //$("#cartDropdown").on('click', function () {
                var getUrl = "/Shopping/cartdata";
                //ajax request
                $.ajax({
                    url: getUrl,
                    type: "GET",
                    success: function (result) {
                        $('#cartshow').html(result);
                        cartlist();
                    },
                    error: function (res) {
                        //error
                    }, complete: function () {
                        myfun();
                    }
                });
            }
            $(document).on('click', '.fa-times-circle', function () {
                //$('.remcart').click(function () {
                //debugger
                var id = $(this).attr('id');
                var quantity = $(this).attr('data-html');
                del(id, quantity);
            });
            function del(e, a) {
                //debugger;
                var getUrl = "/Shopping/removecart";
                //ajax request
                $.ajax({
                    url: getUrl,
                    type: "POST",
                    data: {
                        'Id': e,
                        'qaun': a
                    },
                    success: function (res) {
                        if (res.res == true) {
                            //debugger;
                            $(e + ' li').remove();
                            cartdata();
                        }
                        else {
                        }
                    },
                    error: function (res) {
                        //error
                    }, complete: function () {
                        //cartdata();
                        //myfun();
                    }
                });
            }

            function cartlist() {
                // $('.table-1 tr').on("click", "#drop", function (event) {
                //debugger;
                $('.multTotal').each(function () {
                    var prevClass = $(this).attr('class');
                    var sum = 0;
                    $('.' + prevClass).each(function () {
                        sum += Number($(this).text());
                    })
                    chek();
                    $('#Total_Bill').val(sum);
                })
                //});
            }

            $('.table-1 tr').on("change", "#drop", function (event) {
                var $row = $(event.delegateTarget);
                var itemid = $row.find(".name").val();

                $('.table-1 tr').on('DOMSubtreeModified', "span", function () {
                    var aaa = $row.find("#tot").find('span').text()
                    var $inputs = $("ul>li>input");
                    $inputs.each(function () {
                        max = $(this).val()
                        debugger
                        if (max == itemid) {
                            $("#" + itemid).text(' '+aaa);
                        }
                    });
                });
            });
        </script>
        @RenderSection("Scripts", false)
    </div>
    <!-- End of .main_page -->
</body>
</html>