﻿@using PhalSabzi.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    ViewBag.tag = "Login / Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <link rel="stylesheet" href="~/Content/adminassets/node_modules/jquery-toast-plugin/dist/jquery.toast.min.css">
}
<input type="hidden" id="notifyMessage" value="@ViewBag.Message" />

<!-- Account Page Content*********************** -->
<div class="account_page">
    <div class="container">
        <center>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 login_form">
                    <div class="theme-title">
                        <h2>Login Now</h2>
                    </div>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form_group">
                            <label>Username or Email</label>
                            <div class="input_group">
                                <input type="text" name="Email" class="formEmail" placeholder="iamphalsabziuser@gmail.com">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </div>
                            <span id="exist"></span>
                            <!-- End of .input_group -->
                        </div>
                    <!-- End of .form_group -->

                        <div class="form_group">
                            <label>Password</label>
                            <div class="input_group">
                                <input type="password" name="Password" placeholder="********">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </div>
                            <!-- End of .input_group -->
                        </div>
                            <!-- End of .form_group -->

                            <div class="clear_fix">
                                <div class="single_checkbox float_left">
                                    <input type="checkbox" id="remember">
                                    <label for="remember">Remember me</label>
                                </div>
                                <!-- End .single_checkbox -->
                                <a href="#" class="float_right">Forgot Password?</a>
                            </div>
                            <span id='message'></span>
                            <button id="submitbtn" class="color1_bg tran3s">Login now</button>
                            <a href="~/Account/Register" class="float_right">Don't have an Account?</a>
                    }
                </div>
                <!-- End of .login_form -->
                <!-- End of .register_form -->
            </div>
        </center>
        <!-- End of .row -->
    </div> 
    <!-- End of .container -->
</div> <!-- End of .account_page -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Content/adminassets/node_modules/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
    <script type="text/javascript" src="~/Content/adminassets/js/toastDemo.js"></script>
    <script type="text/javascript" src="~/Scripts/Notifications.js"></script>
}