﻿@model PhalSabzi.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    ViewBag.tag = "Register";
}

<div class="account_page">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 register_form">
                <div class="theme-title">
                    <h2>Register Here</h2>
                </div>
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "signupForm", @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form_group">
                                <label>Username</label>
                                <div class="input_group">
                                    <input type="text" name="UserName">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </div> <!-- End of .input_group -->
                            </div> <!-- End of .form_group -->

                            <div class="form_group">
                                <label>Password</label>
                                <div class="input_group">
                                    <input type="password" name="Password" id="password1">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </div> <!-- End of .input_group -->
                            </div> <!-- End of .form_group -->

                            <div class="form_group">
                                <label>Phone Number</label>
                                <div class="input_group">
                                    <input type="text" name="PhoneNumber">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                                <!-- End of .input_group -->
                            </div>
                            <div class="form_group">
                                <label>Address</label>
                                <div class="input_group">
                                    <input type="text" name="Address">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                                <!-- End of .input_group -->
                            </div>
                            <!-- End of .form_group -->
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form_group">
                                <label>Email Address</label>
                                <div class="input_group">
                                    <input type="email" name="Email" class="formEmail">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                </div>
                                <span id="exist"></span>
                                <!-- End of .input_group -->
                            </div> <!-- End of .form_group -->

                            <div class="form_group">
                                <label>Confirm Password</label>
                                <div class="input_group">
                                    <input type="password" name="ConfirmPassword" id="password2">
                                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                </div> <!-- End of .input_group -->
                            </div> <!-- End of .form_group -->

                            <div class="form_group">
                                <label>Location</label>
                                <div class="input_group">
                                    <input type="text" name="CNIC">
                                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                </div> <!-- End of .input_group -->
                            </div> <!-- End of .form_group -->
                        </div>
                    </div>
                     <!-- End of .row -->

                    <div class="clear_fix">
                        <div class="single_checkbox float_left">
                            <input type="checkbox" id="terms">
                            <label for="terms">I agree the term’s & conditions</label><br />
                        </div> <!-- End .single_checkbox -->
                    </div>
                    <span id='message'></span>
                    <button id="submitbtn" class="color1_bg tran3s">Create Account</button>
                    <a href="~/Account/Login" class="float_right">Already have an Account?</a>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $('.formEmail').keyup(function () {
            var gerurl = "/Home/checkemail";
            $.ajax({
                url: gerurl,
                type: "GET",
                data: {
                    'email': $('.formEmail').val()
                },
                success: function (res) {
                    if (res.res == true) {
                        $('#exist').show();
                        $('#exist').html('Email already Exist. Please Try with another!').css('color', 'red');
                        $('#submitbtn').prop('disabled', true);
                        //alert('Email exists!');
                    }
                    else {
                        $('#submitbtn').prop('disabled', false);
                        $('#exist').hide();
                        //alert('Email doesnt!');
                    }
                },
                error: function (res) {
                    //error
                }
            });
        });

        $(function () {
            $('#signupForm').submit(function (e) {

                if (validateForm() === true) {
                    alert('Form is valid.');
                }
            });
        });
        $('#password2').on('keyup', function () {
            if ($('#password1').val() == $('#password2').val()) {
                $('#message').hide();
                $('#submitbtn').prop('disabled', false);
            } else {
                $('#message').show();
                $('#message').html('Password and Confirm Password Dont Match').css('color', 'red');
                $('#submitbtn').prop('disabled', true);
            }
        });
    </script>

}
