﻿<!--feature Section-->

        @*<div class="theme_title center">
            <h3>FEATURED PRODUCTS</h3>
        </div>*@
        <!--Filter-->

        <div class="row filter-list clearfix" id="MixItUp717B05">
            @foreach (var item in Model)
            {
                            <!--Default Item-->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mix mix_all default-item all beauty others" style="display: inline-block;">
                    <div class="inner-box">
                        <div class="single-item center">
                            <figure class="image-box">
                                <img src="~/Items/Images/@(item.Pic_Path ?? "dummy.jpg")" style="width:170px;height:184px;" alt="">
                                @if (item.Sales != null)
                                {
                                    <div class="product-model new">@item.Sales%</div>
                                }
                                else
                                {
                                    <div class="product-model new">New</div>
                                }
                            </figure>
                            <div class="content">
                                <h3><a href="shop-single.html">@item.Name</a></h3>
                                <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>
                                <div class="price">@item.Price Rs <span class="prev-rate">@item.Price Rs</span></div>
                            </div>
                            <div class="overlay-box">
                                <div class="inner">
                                    <div class="top-content">
                                        <ul>
                                            <li class="tultip-op"><span class="tultip"><i class="fa fa-sort-desc"></i>VIEW PRODUCT</span><a href="~/Home/View/@item.ID"><span class="fa fa-eye"></span></a></li>
                                            <li class="tultip-op"><span class="tultip"><i class="fa fa-sort-desc"></i>ADD TO CART</span><a href="~/Home/AddCart/@item.ID"><span class="icon-icon-32846"></span></a></li>
                                            <li class="tultip-op">
                                                <form id="@item.ID" action="/Shopping/Wishlist" method="post">
                                                    <input class="code" type="hidden" value="@item.ID" name="id" />
                                                    <span class="tultip"><i class="fa fa-sort-desc"></i>ADD TO WISHLIST</span>
                                                    <a onclick="document.getElementById('@item.ID').submit();" href="#/"><span class="fa fa-heart-o"></span></a>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <!--Default Item-->
            }
        </div>


