﻿@{
    ViewBag.Title = "About";
    ViewBag.tag = "ABOUT US";
}

<section class="about-story">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <figure class="img-holder">
                    <img src="/Content/images/about/3.jpg" alt="">
                </figure>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="about-text">
                    <div class="theme_title">
                        <h3>story about us</h3>
                    </div>
                    <div class="about_quot">
                        Our food should be our medicine,Our medicine organics
                        should be our food your health.
                    </div>
                    <div class="text"><p>How all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness</p></div>
                    <div class="icon-box">
                        <div class="single-item">
                            <div class="icon"><i class="icon-wheat"></i></div>
                            <div class="count">745+</div>
                            <div class="name color1">Own Farm Houses</div>
                        </div>
                        <div class="single-item">
                            <div class="icon"><i class="icon-nature-1"></i></div>
                            <div class="count">2480+</div>
                            <div class="name color1">Pastoral Farmers</div>
                        </div>


                    </div>
                    <div class="text">
                        <p>Denouncing pleasure and praising pain was born and I will give you a complete account of the system, the actual teachings of the great explorer.</p>
                    </div>
                    <div class="link">
                        <a href="#" class="tran3s">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="three-column">
    <div class="contaner-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 color1_bg text-center">
                <div class="single-item ">
                    <h5>Organic meat Food</h5>
                    <div class="icon"><i class="icon-chicken"></i></div>
                    <p>
                        We will give you a complete account of the system, and expound the actual <br>teachings of the great explorer of the truth, the master-builder of <br> human complete happiness.
                    </p>
                    <div class="link"><a href="/Home/Index">Shop Now</a></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 color1_bg text-center">
                <div class="single-item ">
                    <h5>Organic Vegetables</h5>
                    <div class="icon"><i class="icon-nature"></i></div>
                    <p>
                        We will give you a complete account of the system, and expound the actual <br>teachings of the great explorer of the truth, the master-builder of <br> human complete happiness.
                    </p>
                    <div class="link"><a href="/Home/Index">Shop Now</a></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 color1_bg text-center">
                <div class="single-item ">
                    <h5>Organic Fruits</h5>
                    <div class="icon"><i class="icon-food"></i></div>
                    <p>
                        We will give you a complete account of the system, and expound the actual <br>teachings of the great explorer of the truth, the master-builder of <br> human complete happiness.
                    </p>
                    <div class="link"><a href="/Home/Index">Shop Now</a></div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="four-column">
    <div class="container text-center">
        <div class="theme_title center">
            <h3>Delivery Process</h3>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="single-item ">
                    <div class="inner-box"><div class="icon"><i class="icon-business"></i><span>1</span></div></div>

                    <h5>Customer Order</h5>
                    <p>
                    <p>
                        Organicstore.com’s customers order is <br>captured by warehouse API..
                    </p>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="single-item ">
                    <div class="inner-box"><div class="icon"><i class="rot icon-nature-1"></i><span>1</span></div></div>
                    <h5>Packing</h5>
                    <p>
                    <p>
                        Organicstore.com’s customers order is <br>captured by warehouse API..
                    </p>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="single-item ">
                    <div class="inner-box"><div class="icon"><i class="rot icon-transport"></i><span>1</span></div></div>
                    <h5>Delivery</h5>
                    <p>
                        Organicstore.com’s customers order is <br>captured by warehouse API..
                    </p>

                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="single-item ">
                    <div class="inner-box"><div class="icon"><i class="rot icon-check"></i><span>1</span></div></div>
                    <h5>Reporting</h5>
                    <p>
                        Organicstore.com’s customers order is <br>captured by warehouse API..
                    </p>

                </div>
            </div>


        </div>
        <div class="link"><a href="/Home/Index" class="rot tran3s color1_bg">Shop products</a></div>
    </div>
</section>
