﻿
@{
    ViewBag.Title = "Contact";
    ViewBag.tag = "CONTACT US";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link rel="stylesheet" href="~/Content/adminassets/node_modules/jquery-toast-plugin/dist/jquery.toast.min.css">
}

<input type="hidden" id="notifyMessage" value="@ViewBag.Message" />

<section class="single-contact_us">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="left_contact">
                    <h5>Get In Touch</h5>
                    <ul class="list catagories">
                        <li><a href="#/"><i class="fa fa-home color1"></i>No 271, Red Cross Building, Modern Street, Newyork City, USA.</a></li>
                        <li><a href="#/"><i class="fa fa-envelope color1"></i><span>phalandsabzi@gmail.com</span><br>customersupport@organic.com</a></li>
                        <li><a href="#/"><i class="fa fa-phone color1"></i>+91 (321) 758 142 5698 <br>1800-8692-258-1547</a></li>
                    </ul>

                    <div class="border-area">
                        <h6>Woriking Hours</h6>
                        <div class="list Business">
                            <p>Monday - Friday: 09.00am to 07.00pm <br>Saturday: 10.00am to 05.00pm <br>Sunday: <span>Open</span></p>
                        </div>

                    </div>


                </div>
            </div>
            <div class="col-md-8 col-sm-6 col-xs-12">
                <div class="contact_in-box">
                    <div class="theme-title ">
                        <h2>send us massege</h2>
                    </div>
                    <form action="/Home/Contact" method="post" class="form-horizontal" role="form" id="commentForm">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="Name" placeholder="Your Name*" required title="Please Enter your name">
                                @Html.ValidationMessage("Name", "", new { @class = "text-danger" })
                            </div>
                            <!-- /.col-md-6 -->
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="Email" placeholder="Your Email*" required title="Please Enter your email">
                            </div>
                            <!-- /.col-md-6 -->
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="Phone" placeholder="Phone">
                            </div>
                            <!-- /.col-md-6 -->
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="Subject" placeholder="Subject*" required title="Please Enter Subject">
                            </div>
                            <!-- /.col-md-6 -->

                            <div class="col-md-12">
                                <textarea name="Message" class="form-control" placeholder="Comments*" required title="Please write your message"></textarea>
                            </div>
                            <!-- /.col-md-12 -->
                            <div class="col-md-12">
                                <button type="submit" class="color1_bg mr-2" value="Send Message">Send Message</button>
                            </div>
                            <!-- /.col-md-12 -->
                        </div>
                        <!-- /.row -->
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Google map************************ -->
@*<section id="google-map-area">
    <div class="google-map-home" id="google-map" data-map-lat="31.547433733701396" data-map-lng="74.32310330793462" data-icon-path="/Content/images/logo/map.png" data-map-title="Awesome Place" data-map-zoom="15"></div>
</section>*@
<div class="map-agileits">
    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d8086.932212667956!2d74.32020403510789!3d31.547877809718614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x39190413e3c8443b%3A0xc3fac63e85013822!2sprimary+and+secondary+health+department!3m2!1d31.5486808!2d74.32334689999999!5e0!3m2!1sen!2sus!4v1532344124869" width="1349" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

@section scripts{
    <script type="text/javascript" src="~/Content/adminassets/node_modules/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
    <script src="~/Content/adminassets/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Content/adminassets/js/toastDemo.js"></script>
    <script src="~/Content/adminassets/js/form-validation.js"></script>
    <script type="text/javascript" src="~/Scripts/Notifications.js"></script>
}
