﻿@model List<PhalSabzi.Models.Item>
@{
    ViewBag.Title = "Home Page";
}

@section css{
    <link rel="stylesheet" href="~/Content/adminassets/node_modules/jquery-toast-plugin/dist/jquery.toast.min.css">
}

<input type="hidden" id="notifyMessage" value="@ViewBag.Message" />
<!--feature Section-->
<section class="featured-product">
    <div class="container">
        <div class="theme_title center">
            <h3>FEATURED PRODUCTS</h3>
        </div>
        <!--Filter-->
        <div class="filters text-center">
            <ul id="menu" class="filter-tabs filter-btns clearfix mylist">
                <li class="filter" data-role="button" data-filter="all"><span class="txt">All Products</span></li>
                <li class="filter" data-role="button" data-filter=".fruits" id="btn"><span class="txt">fruits</span></li>
                <li class="filter" data-role="button" data-filter=".vegitables"><span class="txt">vegitables</span></li>
            </ul>
        </div>

        <div class="row filter-list clearfix" id="MixItUp717B05">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <!--Default Item-->
                    <div id="extra" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mix mix_all default-item all beauty others" style="display: inline-block;">
                        <div class="inner-box">
                            <div class="single-item center">
                                <figure class="image-box">
                                    <img src="~/Items/Images/@(item.Pic_Path ?? "dummy.jpg")" style="width:170px;height:184px;" alt="">
                                    @if (item.Sales != null)
                                    {
                                        <div class="product-model new">@item.Sales%</div>
                                    }
                                    else
                                    {
                                        <div class="product-model new">New</div>
                                    }
                                </figure>
                                <div class="content">
                                    <h3><a href="shop-single.html">@item.Name</a></h3>
                                    <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>
                                    <div class="price">@item.Price Rs <span class="prev-rate">@item.Price Rs</span></div>
                                </div>
                                <div class="overlay-box">
                                    <div class="inner">
                                        <div class="top-content">
                                            <ul>
                                                <li class="tultip-op">
                                                    <span class="tultip"><i class="fa fa-sort-desc"></i>VIEW PRODUCT</span><a href="~/Home/View/@item.ID"><span class="fa fa-eye"></span></a>
                                                </li>
                                                <li class="tultip-op">
                                                    <form id="cart_@item.ID" action="/Home/AddCart">
                                                        <input class="code" type="hidden" value="@item.ID" name="id" />
                                                        <input type="number" style="display:none;" name="Quantity" value="1" min="1">
                                                        <span class="tultip"><i class="fa fa-sort-desc"></i>ADD TO CART</span>
                                                        <a onclick="document.getElementById('cart_@item.ID').submit();"  href="#/"><span class="icon-icon-32846"></span></a>
                                                    </form>
                                                </li>
                                                <li class="tultip-op">
                                                    <form id="@item.ID" action="/Shopping/Wishlist" method="post">
                                                        <input class="code" type="hidden" value="@item.ID" name="id" />
                                                        <span class="tultip"><i class="fa fa-sort-desc"></i>ADD TO WISHLIST</span>
                                                        <a onclick="document.getElementById('@item.ID').submit();" href="#/"><span class="fa fa-heart-o"></span></a>
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Default Item-->
                }
            }
        </div>
    </div>

</section><!-- End of section -->
<!-- Request Quote ******************************* -->
<section class="why_choose_us">
    <div class="theme_title_bg" style="background-image: url(/Content/images/background/1.jpg);">
        <div class="theme_title center">
            <div class="container">
                <h2>Why to Choose Us</h2>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered <br>alteration in some form, by injected humour.</p>

            </div>
        </div>
    </div>

    <div class="container">
        <!-- End of .theme_title_center -->
        <div class="row">
            <!-- ______________ Item _____________ -->
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="choose_us_item tran3s">
                    <div class="icon p_color_bg border_round float_left"><span class="ficon icon-fruit-1"></span></div> <!-- End of .icon -->
                    <div class="text float_left">
                        <h5 class="tran3s">100% Organic Products</h5>
                        <p class="tran3s">Duis aute irure dolor in reprehenderit voluptate velit esse seds cillum dolore eu fugiat nulla pariatur excepteur sint occaecat.</p>
                    </div> <!-- End of .text -->
                    <div class="clear_fix"></div>
                </div> <!-- End of .choose_us_item -->
            </div> <!-- End of .col -->
            <!-- ______________ Item _____________ -->
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="choose_us_item tran3s">
                    <div class="icon p_color_bg border_round float_left"><span class="ficon icon-wheat"></span></div> <!-- End of .icon -->
                    <div class="text float_left">
                        <h5 class="tran3s">Any Time, Anywhere Delivery</h5>
                        <p class="tran3s">Duis aute irure dolor in reprehenderit voluptate velit esse seds cillum dolore eu fugiat nulla pariatur excepteur sint occaecat.</p>
                    </div> <!-- End of .text -->
                    <div class="clear_fix"></div>
                </div> <!-- End of .choose_us_item -->
            </div> <!-- End of .col -->
            <!-- ______________ Item _____________ -->
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="choose_us_item tran3s">
                    <div class="icon p_color_bg border_round float_left"><span class="ficon icon-food-2"></span></div> <!-- End of .icon -->
                    <div class="text float_left">
                        <h5 class="tran3s">Keeps Your Family Healthy</h5>
                        <p class="tran3s">Duis aute irure dolor in reprehenderit voluptate velit esse seds cillum dolore eu fugiat nulla pariatur excepteur sint occaecat.</p>
                    </div> <!-- End of .text -->
                    <div class="clear_fix"></div>
                </div> <!-- End of .choose_us_item -->
            </div> <!-- End of .col -->
            <!-- ______________ Item _____________ -->
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="choose_us_item tran3s">
                    <div class="icon p_color_bg border_round float_left"><span class="ficon icon-fruit"></span></div> <!-- End of .icon -->
                    <div class="text float_left">
                        <h5 class="tran3s">Clean, Fresh and Safety</h5>
                        <p class="tran3s">Duis aute irure dolor in reprehenderit voluptate velit esse seds cillum dolore eu fugiat nulla pariatur excepteur sint occaecat.</p>
                    </div> <!-- End of .text -->
                    <div class="clear_fix"></div>
                </div> <!-- End of .choose_us_item -->
            </div> <!-- End of .col -->
        </div>
    </div>
    <!-- End of .container -->
</section>
<!-- End of why chooreus -->


@section Scripts{
    <script type="text/javascript" src="~/Content/adminassets/node_modules/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
    <script type="text/javascript" src="~/Content/adminassets/js/toastDemo.js"></script>
    <script type="text/javascript" src="~/Scripts/Notifications.js"></script>

    <script>
        function active() {
            $("#menu li span").click(function () {
                $("#menu li").removeClass('active');
                $(this).parent().addClass('active');
            });
        }
        $("ul.mylist li").on('click', function () {
            var city = $(this).find('span').text();
            //debugger;
            var getUrl = "/Home/Index";
            //ajax request
            $.ajax({
                url: getUrl,
                type: "GET",
                data: {
                    'item': city
                },
            }).success(function (result) {
                //write returned partial view to empty div
                $('#MixItUp717B05').html(result); 
                active();
            });
        });
    </script>
}