﻿
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="has-base-color-overlay sec-pad text-center error-404" style="background-image:url(/Content/images/background/404.jpg);">
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="top-box">
                <figure class="text-center"><img src="/Content/images/logo/404.png" alt=""></figure>
                <h2>Sorry please login to access the page.</h2>
            </div><!-- /.top-box -->
            <p>The page you are looking for does not exist. <span>Back to <a href="/Home/Index">Homepage!</a></span></p>
            <div class="search-box text-center">
                <form action="#" class="clearfix">
                    <input type="text" placeholder="Search...">
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div><!-- /.col-md-10 col-md-offset-1 -->
    </div><!-- /.container -->
</div>*@

