﻿@model PhalSabzi.Models.ProductViewModel
@{
    ViewBag.Title = "View";
    ViewBag.tag = "Single Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <link rel="stylesheet" href="~/Content/adminassets/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="~/Content/adminassets/node_modules/jquery-toast-plugin/dist/jquery.toast.min.css">
    <link rel="stylesheet" href="/Content/jquery-bar-rating/dist/themes/fontawesome-stars.css">
    <link rel="stylesheet" href="/Content/jquery-bar-rating/dist/themes/bars-1to10.css">
    <link rel="stylesheet" href="/Content/jquery-bar-rating/dist/themes/bars-horizontal.css">
    <link rel="stylesheet" href="/Content/jquery-bar-rating/dist/themes/bars-movie.css">
    <link rel="stylesheet" href="/Content/jquery-bar-rating/dist/themes/bars-pill.css">
    <link rel="stylesheet" href="/Content/jquery-bar-rating/dist/themes/bars-reversed.css">
    <link rel="stylesheet" href="/Content/jquery-bar-rating/dist/themes/bars-square.css">
    <link rel="stylesheet" href="/Content/jquery-bar-rating/dist/themes/bootstrap-stars.css">
    <link rel="stylesheet" href="/Content/jquery-bar-rating/dist/themes/css-stars.css">
    <link rel="stylesheet" href="/Content/jquery-bar-rating/dist/themes/fontawesome-stars-o.css">
    <link rel="stylesheet" href="/Content/jquery-bar-rating/examples/css/examples.css">
    <link rel="stylesheet" href="/Content/font-awesome/css/font-awesome.min.css" />

    <style>
        .shop_single_page .product_details .product_top_section .item_description > button {
            width: 170px;
            line-height: 47px;
            text-align: center;
            color: #fff;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            margin-left: 26px;
            display: inline-block;
        }
    </style>
}
<input type="hidden" id="notifyMessage" value="@ViewBag.Message" />
<!-- Single Shop page content -->
<input type="hidden" name="id" value="@Model.item.ID" />
<div class="shop_single_page">
    <div class="container">
        <div class="row">
            <!-- _______________________ SIDEBAR ____________________ -->
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 sidebar_styleTwo">
                <div class="wrapper">
                    @*<div class="sidebar_search">
                            <form action="#">
                                <input type="text">
                                <button class="tran3s color1_bg"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>*@
                    <!-- End of .sidebar_styleOne -->

                    <div class="sidebar_categories">
                        <div class="theme_inner_title">
                            <h4>Categories</h4>
                        </div>
                        <ul>
                            @foreach (var categ in ViewBag.catcount)
                            {
                                <li><a href="#" class="tran3s">@categ.id   (@categ.count)</a></li>
                            }
                        </ul>
                    </div> <!-- End of .sidebar_categories -->

                    <div class="best_sellers clear_fix wow fadeInUp">
                        <div class="theme_inner_title">
                            <h4>popular products</h4>
                        </div>
                        @foreach (var item in Model.items)
                        {
                           <div class="best_selling_item clear_fix border">
                                <div class="img_holder float_left">
                                    <img src="~/Items/Images/@(item.Pic_Path?? "dummy.jpg")" style="width:70px;height:80px;" alt="image">
                                </div> <!-- End of .img_holder -->
                                <div class="text float_left">
                                    <a href="shop-single.html"><h6>@item.Name</h6></a>
                                    <ul>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                    <span>@item.Price</span>
                                </div> <!-- End of .text -->
                            </div>
                            <!-- End of .best_selling_item -->
                        }
                    </div>
            </div>
            <!-- End of .wrapper -->
        </div>
            <!-- End of .sidebar_styleTwo -->
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 product_details">
                <div class="wrapper">
                    <div class="product_top_section clear_fix">
                        <div class="img_holder float_left" style="background-color:white; border:3px solid #d2d2d2;">
                            <img src="~/Items/Images/@(Model.item.Pic_Path?? "dummy.jpg")" style="width:165px;height:153px" alt="img" class="img-responsive">
                        </div>
                        <!-- End of .img_holder -->
                        <form action="/Home/AddCart">
                            <div class="item_description float_left">
                                <h4>@Model.item.Name</h4>
                                <ul>
                                    @if (Model.item.Rating != null)
                                    {
                                        for (int i = 1; i <= Model.item.Rating; i++)
                                        {
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        }
                                    }
                                    else
                                    {
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    }
                                    (2 Customers Review)
                                </ul>
                                <span class="item_price">@Model.item.Price Rs</span>
                                @if (Model.item.Discription != null)
                                {
                                    <p>@Model.item.Discription.</p>
                                }
                                else
                                {
                                    <p>No Discription for this Item Yet...!</p>
                                }
                                <div class="clear_fix">
                                    <span class="float_left color1">Delivery Address</span>
                                    @if (ViewBag.address != null)
                                    {
                                        <input type="text" name="Additional_Address" value="@ViewBag.address" class="col-md-6 form-control" placeholder="Addintional Address">
                                    }
                                    <span class="float_left color1">*Expected Delivery in within 1 Day</span>
                                </div>
                                <input type="hidden" name="id" value="@Model.item.ID" />
                                <input type="number" name="Quantity" value="1" min="1">
                                @*<a href="#" class="tran3s color1_bg">Add to Cart</a>*@
                                @if (Model.item.Quantity == "0")
                                {
                                    <button type="button" disabled class="tran3s color3_bg">Out of Stock</button>
                                }
                                else
                                {
                                    <button type="submit" class="tran3s color1_bg">Add to Cart</button>
                                }
                            </div>
                        </form>
                        <!-- End of .item_description -->
                    </div>
                    <!-- End of .product_top_section -->
                    <!-- __________________ Product review ___________________ -->
                    <div class="product-review-tab">
                        <ul class="nav nav-pills">
                            <li><a data-toggle="pill" href="#tab1">Description</a></li>
                            <li class="active"><a data-toggle="pill" href="#tab2">Reviews(@Model.feedback.Count())</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="tab1" class="tab-pane fade">
                                @if (Model.item.Discription != null)
                                {
                                    <p>@Model.item.Discription.</p>
                                }
                                else
                                {
                                    <p>No Discription for this Item Yet...!</p>
                                }
                            </div>
                            <!-- End of #tab1 -->

                            <div id="tab2" class="tab-pane fade in active">
                                <!-- Single Review -->
                                @foreach (var items in Model.feedback)
                                {
                                    <div class="item_review_content clear_fix">
                                        <div class="img_holder float_left">
                                            <img src="~/Content/adminassets/images/faces-clipart/download.jpg" style="width:70px;height:70px;" alt="img">
                                        </div>
                                        <!-- End of .img_holder -->

                                        <div class="text float_left">
                                            <div class="sec_up clear_fix">
                                                <h6 class="float_left">@items.Name</h6>
                                                <div class="float_right">
                                                    @{
                                                        DateTime date = Convert.ToDateTime(items.Creation_Date);
                                                        string donly = date.ToString("MMMM/dd/yyyy");
                                                        string tonly = date.ToString("HH.mm");
                                                    }
                                                    <span class="p_color">@donly &nbsp;at &nbsp;@tonly</span>
                                                    <ul>
                                                        @for (int i = 1; i <= items.Rating; i++)
                                                        {
                                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                        }

                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- End of .sec_up -->
                                            <p>@items.Review.</p>

                                            @*<div class="up_down_nav">
                                                    <a href="#"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                                                    <a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                                </div>*@
                                            <!-- End of .up_down_nav -->
                                            @*<div class="reply_share_area">
                                                    <a href="#" class="tran3s">Reply</a>
                                                    <a href="#" class="tran3s">Share</a>
                                                </div>*@
                                            <!-- End of .reply_share_area -->
                                        </div>
                                        <!-- End of .text -->
                                    </div>
                                <!-- End of .item_review_content -->
                                                        }


                                <div class="add_your_review">
                                    <div class="theme_inner_title">
                                        <h4>Add Your Review</h4>
                                    </div>
                                    <form action="/Home/Feedback">
                                        <input type="hidden" name="id" value="@Model.item.ID" />
                                        <span>Your Rating</span>
                                        <div class="br-wrapper br-theme-fontawesome-stars">
                                            <select id="example-fontawesome" name="rating" autocomplete="off">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" name="Name" placeholder="Name*">
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <input type="email" name="Email" placeholder="Email*">
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <textarea name="Review" placeholder="Your Review..."></textarea>
                                            </div>
                                        </div>
                                        <button type="submit" class="color1_bg tran3s">Add A Review</button>
                                    </form>

                                </div>
                                <!-- End of .add_your_review -->

                            </div> <!-- End of #tab2 -->
                        </div>
                        <!-- End of .tab-content -->
                    </div>
                    <!-- End of .product-review-tab -->


                    <div class="related_product">
                        <div class="theme_title">
                            <h3>Related Products</h3>
                        </div>


                        <!-- Shop Page Content************************ -->
                        <div class="shop_page featured-product">

                            <div class="row">
                                @foreach (var itemm in Model.items)
                                {
                                                                <!--Default Item-->
                                    <div class="col-md-4 col-sm-6 col-xs-12 default-item" style="display: inline-block;">
                                        <div class="inner-box">
                                            <div class="single-item center">
                                                <figure class="image-box"><img src="~/Items/Images/@(itemm.Pic_Path?? "dummy.jpg")" style="width:170px;height:184px;" alt=""><div class="product-model new">New</div></figure>
                                                <div class="content">
                                                    <h3><a href="shop-single.html">@itemm.Name</a></h3>
                                                    <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>
                                                    <div class="price">@itemm.Price <span class="prev-rate">@itemm.Price + 10</span></div>
                                                </div>
                                                <div class="overlay-box">
                                                    <div class="inner">
                                                        <div class="top-content">
                                                            <ul>
                                                                <li class="tultip-op"><span class="tultip"><i class="fa fa-sort-desc"></i>VIEW PRODUCT</span><a href="~/Home/View/@itemm.ID"><span class="fa fa-eye"></span></a></li>
                                                                <li class="tultip-op">
                                                                    <form id="cart_@itemm.ID" action="/Home/AddCart">
                                                                        <input class="code" type="hidden" value="@itemm.ID" name="id" />
                                                                        <input type="number" style="display:none;" name="Quantity" value="1" min="1">
                                                                        <span class="tultip"><i class="fa fa-sort-desc"></i>ADD TO CART</span>
                                                                        <a onclick="document.getElementById('cart_@itemm.ID').submit();" href="#/"><span class="icon-icon-32846"></span></a>
                                                                    </form>
                                                                </li>
                                                                <li class="tultip-op">
                                                                    <form id="@itemm.ID" action="/Shopping/Wishlist" method="post">
                                                                        <input type="hidden" value="@itemm.ID" name="id" />
                                                                        <span class="tultip"><i class="fa fa-sort-desc"></i>ADD TO WISHLIST</span>
                                                                        <a onclick="document.getElementById('@itemm.ID').submit(); return false;" href="#/"><span class="fa fa-heart-o"></span></a>
                                                                    </form>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }

                            </div>
                            <!-- End of .row -->

                        </div>
                        <!-- End of .shop_page -->
                    </div>
                    <!-- End of .related_product -->
                </div>
                <!-- End of .wrapper -->
            </div>
            <!-- End of .col -->


                </div>
        <!-- End of .row -->
    </div>
    <!-- End of .container -->
</div>
<!-- End of .shop_single_page -->

@section scripts{

    <script src="/Content/adminassets/node_modules/jquery-tags-input/dist/jquery.tagsinput.min.js"></script>
    <script src="/Content/adminassets/node_modules/progressbar.js/dist/progressbar.min.js"></script>
    <script src="/Content/adminassets/node_modules/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
    <script type="text/javascript" src="~/Content/adminassets/node_modules/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
    <script type="text/javascript" src="~/Content/adminassets/js/toastDemo.js"></script>

    <script src="~/Content/adminassets/js/formpickers.js"></script>
    <script src="~/Content/adminassets/js/form-addons.js"></script>
    <script type="text/javascript" src="~/Scripts/Notifications.js"></script>


}