﻿@*@if (Model.Count > 0)
    {*@
            @foreach (var s in Model)
            {
                <li id="@s.Item.ID" class="productTile">
                    <input type="hidden" name="cartid" value="@s.ID" />
                    <div class="cart_item_wrapper clear_fix">
                        <div class="img_holder float_left"><img src="~/Items/Images/@(s.Item.Pic_Path ?? "dummy.jpg")" style="width:70px;height:80px;" alt="Cart Image" class="img-responsive"></div> 
                        <!-- End of .img_holder -->
                        <div id="test1" class="item_deatils float_left div-style">
                            <h6>@s.Item.Name - (@s.Quantity)</h6>
                            <ul>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            </ul>
                            Rs<span class="font_fix" id="@s.ID"> @s.Total</span>
                        </div> 
                    <!-- End of .item_deatils -->
                    </div> 
                    <!-- End of .cart_item_wrapper -->
                    <i class="fa fa-times-circle remcart" id="@s.Item.ID" data-html="@s.Quantity" aria-hidden="true"></i>
                </li>
    }
@*}
else
{
    <center><p>No Item selected Yet!</p></center>
}*@