﻿@{
    int i = 1;
}
<table class="table table-1" id="table-1">
    <tr>
        <th><span>Product</span></th>
        <th><span>Quantity</span></th>
        <th><span>Avalability</span></th>
        <th><span>Price</span></th>
        <th><span>Discount</span></th>
        <th><span>Total</span></th>
        <th><span>Remove</span></th>
    </tr>
    @foreach (var item in Model)
    {
        <tbody>
            <tr class="txtMult" id="@i">
                <td class="flex_item clear_fix">
                    <img src="~/Items/Images/@(item.Item.Pic_Path ?? "dummy.jpg")" style="width:70px;height:80px;" alt="images" class="float_left">
                    <h6 class="float_left">@item.Item.Name</h6>
                    <input type="hidden" class="name" value=@item.ID name="itemid" />
                    <input type="hidden" class="sales" value=@item.Item.Sales name="sales" />
                    <input type="hidden" class="saleprice" value=@item.Total name="saleprice" />
                    <input type="hidden" class="cartquant" id="cartquant" value=@item.Quantity name="cartquant" />
                    <input type="hidden" class="original" id="original" value="0" name="difference" />
                </td>
                @if (item.Quantity == "1")
                {
                    <td><input type="number" class="val1 quantity" id="drop" name="quantity" min="0" value="1"></td>
                }
                else
                {
                    <td><input type="number" class="val1 quantity" id="drop" name="quantity" min="0" value=@item.Quantity></td>
                }
                <td>
                    <div class="icon_holder border_round">
                        <i class="fa fa-check"></i>
                    </div>
                    <span class="item">Item(s) <br>Avilable Now</span>
                </td>
                <td class="val2" id="price"><span>@item.Item.Price</span></td>
                <td class="val2" id="price"><span>@item.Item.Sales%</span></td>
                <td class="multTotal" name="price" id="tot"><span class="color2">@item.Total</span></td>
                <td>
                    <input type="hidden" value="@item.ID" name="itemid" class="btn btn-danger itemid extra" />
                    <input type="hidden" value="" name="quantity" class="quan" />
                    @*<button type="button" id="removebtn" class="btn btn-danger mybtn">Remove</button>*@
                    <button type="button" class="btn btn-danger mybtn" onclick="showSwal('warning-message-and-cancel')">Click here!</button>
                </td>
            </tr>
        </tbody>
    }
    </table>

