﻿@*<div class="row">
        <div class="col-lg-12">
            <div class="card px-2">
                <div class="card-body">
                    <div class="container-fluid">
                        <h3 class="text-right my-5">Invoice&nbsp;&nbsp;#INV-17</h3>
                        <hr>
                    </div>
                    <div class="container-fluid d-flex justify-content-between">
                        <div class="col-lg-3 pl-0">
                            <p class="mt-5 mb-2"><b>Victory Admin</b></p>
                            <p>104,<br>Minare SK,<br>Canada, K1A 0G9.</p>
                        </div>
                        <div class="col-lg-3 pr-0">
                            <p class="mt-5 mb-2 text-right"><b>Invoice to</b></p>
                            <p class="text-right">Gaala & Sons,<br> C-201, Beykoz-34800,<br> Canada, K1A 0G9.</p>
                        </div>
                    </div>
                    <div class="container-fluid d-flex justify-content-between">
                        <div class="col-lg-3 pl-0">
                            <p class="mb-0 mt-5">Invoice Date : 23rd Jan 2016</p>
                        </div>
                    </div>
                    <div class="container-fluid mt-5 d-flex justify-content-center w-100">
                        <div class="table-responsive w-100">
                            <table class="table">
                                <thead>
                                    <tr class="bg-dark text-white">
                                        <th>#</th>
                                        <th>Description</th>
                                        <th class="text-right">Quantity</th>
                                        <th class="text-right">Unit cost</th>
                                        <th class="text-right">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr class="text-right">
                                            <td class="text-left">@i</td>
                                            <td class="text-left">@item.Item.Name</td>
                                            <td>@item.Quantity</td>
                                            <td>@item.Item.Price</td>
                                            <td class="printtot">@item.Total</td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="container-fluid mt-5 w-100">
                        <p class="text-right mb-2 subtot" id="pTest">Sub - Total amount: $12,348</p>
                        <p class="text-right">vat (10%) : $138</p>
                        <h4 class="text-right mb-5 subtot" id="grandtot">Total : $13,986</h4>
                        <hr>
                    </div>
                    <div class="container-fluid w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>*@


<div style="margin-right:25px;" class="invoice-parent">
    <div class="logo-container">
        <div class="float-left"><img width="115" height="86" src="~/Content/Logo office.png"></div>
        <div style="margin-top: 25px" class="float-left"><center><h1>PhalSabzi Store</h1></center></div>
    </div>
    <br clear="all" style="margin: 60px;">
    <div class="left-address">
        <u>C&amp;F</u>: No 271, Red Cross Building,<br>
        <div style="margin-left:30px">
            Modern Street,<br>
            NewYork City, USA.<br>
            Contact no. +91 (321) 758 142 5698.<br>
            Email: phalsabzi@gmail.com
        </div>
    </div>
    @{
        int i = 1;
    }
    @foreach (var itemm in Model)
    {
        if (i == 1)
        {
            //continue;
            <div class="right-address">
                <u style="padding-right: 25px;">Customer Info :</u>
                <div class="float-right">
                    @itemm.AspNetUser.UserName,<br>
                    @itemm.AspNetUser.Address,Pakistan.<br>
                    Contact no. @itemm.AspNetUser.PhoneNumber<br>
                    Email:  @itemm.AspNetUser.Email
                </div>
            </div>
            i++;
        }
    }

    <br clear="all">
    <div id="bill_type">INVOICE</div>
    <hr>
    @*<div id="tin_cst_dll">
            <span id="id-center">CST: 1085914</span>
        </div>
        <span style="margin-top: -16px;" class="float-left" id="id-left">TIN: 33893767761</span>

        <span style="margin-top: -16px;" class="float-right" id="id-right">DL: TRT 2605/20B/2436/21B</span>
        <hr>
        <table width="100%" border="1" cellspacing="0" cellpadding="0" class="invoice-related">
            <tbody>
                <tr>
                    <td valign="top">
                        To: <strong id="to_name">Peter Agency</strong>,<br>
                        <div id="to_addresses">
                            No.4, Fernanderz lane,<br>
                            Pandy street,<br>
                            Hobai - 982198. 0782-4379540
                        </div>
                        <strong>
                            <div id="customer_tin" class="float-left">Tin : 33893767754</div>
                            <div id="customer_dl" style="text-align: right;" class="float-right">DL no. : TRT 2605/20B/5342/21B</div>
                            <strong>
                            </strong>
                        </strong>
                    </td>
                    <td valign="top">
                        <div class="float-left" id="invnum"></div> <div class="float-right">Date: 12-07-2014</div><br>
                    </td>
                </tr>
            </tbody>
        </table>*@
    <div id="replacement_period">Product Replacement within the Dilivery Day</div>
    <table width="100%" border="1" align="left" cellspacing="0" cellpadding="0" class="invoice-related">
        <tbody>
            <tr>

                <th valign="top" colspan="3">
                    Sr#
                </th>
                <th valign="top" id="amount_head">
                    Product Name
                </th>
                <th valign="top" id="amount_head">
                    Season
                </th>
                <th valign="top" id="amount_head">
                    Category
                </th>
                <th valign="top">
                    Qty
                </th>
                <th valign="top" id="pts_head">
                    Unit Price
                </th>
                <th valign="top" id="amount_head" colspan="8">
                    Total Amount
                </th>
            </tr>
            @{
                int ii = 1;
            }
            @foreach (var item in Model)
            {
                <tr class="item-row">
                    <td valign="top" colspan="3">
                        <div class="batch">@ii</div>
                    </td>
                    <td valign="top">
                        <div class="cost">@item.Item.Name</div>
                    </td>
                    <td valign="top">
                        <div class="cost">@item.Item.Season</div>
                    </td>
                    <td valign="top">
                        <div class="cost">@item.Item.Category</div>
                    </td>
                    <td valign="top">@item.Quantity</td>
                    <td valign="top">
                        <div class="pts">@item.Item.Price</div>
                    </td>
                    <td valign="top" class="printtot" colspan="8">
                        <div class="price">@item.Total</div>
                    </td>
                </tr>
                ii++;
            }
            <tr class="item-calc">
                <td class="blank vishide" colspan="8">By Cheque or Cash.</td>
                <td class="total-line balance">Subtotal</td>
                <td class="total-value blank-value"><div class="pTest">4140.00</div></td>
            </tr>
            <tr class="item-calc">
                <td style="visibility: visible;" class="blank vishide" colspan="8">
                    Amount in words: <span id="number_in_words">Four thousand three hundred and forty seven rupees only </span>
                </td>
                <td class="total-line balance">Vat (5%)</td>
                <td class="total-value blank-value"><div id="vat">207.00</div></td>
            </tr>
            <tr class="item-calc">
                <td class="blank blank-bottom" colspan="8"> </td>
                <td class="total-line balance">Grand Total</td>
                <td class="total-value blank-value"><div class="grandtotal">4347.00</div></td>
            </tr>
        </tbody>
    </table>

    <br clear="all">

    <br clear="all">
    <div id="tandc">
        <u><b>Terms &amp; Conditions</b></u>
        <ul>
            <li>All disputes subject to Chanso Jurisdiction only.</li>
            <li>Certified that the particulars given above are true and correct.</li>
            <li>And the amount indicated represents the price actually charged. </li>
            <li>Cheques are subject to realisation for Aura Healthcare.</li>
        </ul>
    </div>

    <div id="aura-signature">
        For PhalSabzi ,<br><br><br>

        <b>Authorised</b> <b>signatory.</b>
    </div>

</div>
