﻿
@{
    ViewBag.Title = "FAQ";
    ViewBag.tag = "FAQ'S";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="faq-content-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about-autocare-faq">
                    <div class="accordion-box">
                        <!--Start single accordion box-->
                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                What are the benefits of organic food?
                                <div class="toggle-icon">
                                    <span class="plus fa fa-plus"></span><span class="minus fa fa-minus"></span>
                                </div>
                                <div class="left-icon">
                                    <span class="fa fa-question-circle"></span>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>Again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise.</p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn active">
                                What are the most important foods to buy organic?
                                <div class="toggle-icon">
                                    <span class="plus fa fa-plus"></span><span class="fa fa-minus"></span>
                                </div>
                                <div class="left-icon">
                                    <span class="fa fa-question-circle"></span>
                                </div>
                            </div>
                            <div class="acc-content collapsed">
                                <p>Again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise.</p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                How is organic better for the environment?
                                <div class="toggle-icon">
                                    <span class="plus fa fa-plus"></span><span class="fa fa-minus"></span>
                                </div>
                                <div class="left-icon">
                                    <span class="fa fa-question-circle"></span>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>Again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise.</p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                Must I get air conditioning serviced?
                                <div class="toggle-icon">
                                    <span class="plus fa fa-plus"></span><span class="fa fa-minus"></span>
                                </div>
                                <div class="left-icon">
                                    <span class="fa fa-question-circle"></span>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>Again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise.</p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                How do i Schedule a Service Appoinment?
                                <div class="toggle-icon">
                                    <span class="plus fa fa-plus"></span><span class="fa fa-minus"></span>
                                </div>
                                <div class="left-icon">
                                    <span class="fa fa-question-circle"></span>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>Again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise.</p>
                            </div>
                        </div>
                        <!--End single accordion box-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

