﻿@model List<PhalSabzi.Models.Cart>
@{
    ViewBag.Title = "FinalCart";
    ViewBag.tag = "SHOPPING CART";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{

    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/images/fav-icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/images/fav-icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/images/fav-icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/images/fav-icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/images/fav-icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/images/fav-icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/images/fav-icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/images/fav-icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/images/fav-icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/images/fav-icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/images/fav-icon/favicon-96x96.png">
    <link rel="stylesheet" href="~/Content/adminassets/node_modules/jquery-toast-plugin/dist/jquery.toast.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/adminassets/node_modules/sweetalert2/dist/sweetalert2.min.html">

    <link href="~/Content/css/Custom.css" rel="stylesheet" />
    <style>
        div.alert {
            color: green;
            background-color: rgb(50,200,50,.5);
            padding: 10px;
            text-align: center;
            margin-left: 30%;
        }

        .cart .shop_cart_table button.mybtn {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 700;
            margin-top: 45px;
            color: #fff;
            display: inline-block;
            line-height: 25px;
        }
    </style>
}
<!-- Favicon -->

<input type="hidden" id="notifyMessage" value="@ViewBag.Message" />

<body>
    <div class="main_page cart">
        <!-- cart Table*************************** -->
        <div class="shop_cart_table container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="table-responsive" id="mytab">
                        <table class="table table-1" id="table-1">
                            <tr>
                                <th><span>Product</span></th>
                                <th><span>Quantity</span></th>
                                <th><span>Avalability</span></th>
                                <th><span>Price</span></th>
                                <th><span>Discount</span></th>
                                <th><span>Total</span></th>
                                <th><span>Remove</span></th>
                            </tr>
                            @if (true)
                            {

                                int i = 1;

                                foreach (var item in Model)
                                {
                                    <tbody>
                                        <tr class="txtMult" id="@i">
                                            <td class="flex_item clear_fix">
                                                <img src="~/Items/Images/@(item.Item.Pic_Path?? "dummy.jpg")" style="width:70px;height:80px;" alt="images" class="float_left">
                                                <h6 class="float_left">@item.Item.Name</h6>
                                                <input type="hidden" class="name" value=@item.ID name="itemid" />
                                                <input type="hidden" class="sales" value=@item.Item.Sales name="sales" />
                                                <input type="hidden" class="saleprice" value=@item.Total name="saleprice" />
                                                <input type="hidden" class="cartquant" id="cartquant" value=@item.Quantity name="cartquant" />
                                                <input type="hidden" class="original" id="original" value="0" name="difference" />
                                            </td>
                                            @if (item.Quantity == "1")
                                            {
                                                <td><input type="number" class="val1 quantity" id="drop" name="quantity" min="0" value="1"></td>
                                            }
                                            else
                                            {
                                                <td><input type="number" class="val1 quantity" id="drop" name="quantity" min="0" value=@item.Quantity></td>
                                            }
                                            <td>
                                                <div class="icon_holder border_round">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <span class="item">Item(s) <br>Avilable Now</span>
                                            </td>
                                            <td class="val2" id="price"><span>@item.Item.Price</span></td>
                                            @if (item.Item.Sales != null)
                                            {
                                                <td><span>@item.Item.Sales%</span></td>
                                            }
                                            else
                                            {
                                                <td><span>-</span></td>
                                            }
                                            <td class="multTotal" name="price" id="tot"><span class="color2" id="pircespan">@item.Total</span></td>
                                            <td>
                                                <input type="hidden" value="@item.ID" name="itemid" class="btn btn-danger itemid extra" />
                                                <input type="hidden" value="" name="quantity" class="quan" />
                                                @*<button type="button" id="removebtn" class="btn btn-danger mybtn">Remove</button>*@
                                                <button type="button" class="btn btn-danger mybtn" onclick="showSwal('warning-message-and-cancel')">Remove</button>

                                            </td>
                                        </tr>
                                    </tbody>
                            <!-- /tr -->
                                    i++;
                                }
                            }
                            else
                            {
                                <p>There are no items in this cart</p>
                                <a href="/Home/Index" class="cart_btn2 tran3s color1_bg">CONTINUE SHOPPING</a>
                            }


                        </table>
                    </div>
                    <!-- /table-responsive -->
                </div>
                @if (Model.Count > 0)
                {
                    <div id="mesge" class="col-md-3 alert">
                        <p>Items Saved Successfully!</p>
                    </div>
                    <div class="" style="float:right;">
                        <button id="drop1" class="cart_btn2 tran3s color1_bg">Update Cart</button>
                    </div>
                }

            </div>

            <div class="modal fade" id="exampleModal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel-2">Check Email for Confirmation code</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" value="" placeholder="confirmation code here" id="capchainput" class="coupon form-control" />
                                <label id="capchaErrorMsg" style="color:red;" hidden><img class="inline" src="http://studyabroad.pk/all/images/validation_icon.png" /> Please Enter valid confirmation code</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="fine" type="button" class="btn btn-success ok" data-dismiss="modal">OK</button>
                            <button type="button" class="btn btn-primary ok" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /row -->
            <div class="row shipping_address">
                <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 submit_form wow fadeInUp">
                    @*<h4>Calculate Shipping</h4>*@
                    <div class="row" style="margin-top:200px;">

                    </div>
                    <button id="invoice" class="cart_btn1 tran3s color1_bg">Generate Invoice</button>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12 wow fadeInUp" style="float:right;">


                    <h4>Cart Totals</h4>
                    <div class="table-responsive">
                        <table class="table table-2">
                            <tbody>
                                <tr>
                                    <td><span>Cart Subtotal</span></td>
                                    <td id="carttotal"><span>Rs 0</span></td>
                                </tr>
                                <tr>
                                    <td><span>Shipping and Handling</span></td>
                                    <td><span>Free Shipping</span></td>
                                </tr>
                                <tr>
                                    <td><span>Order Total</span></td>
                                    <td id="ordertotal"><span>Rs 0</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- /table-responsive -->
                    @{
                        string cap = PhalSabzi.Models.GenericFunctions.GiveCaptcha();
                    }
                    <input id="capcha" class="code" type="hidden" value='@cap' />
                    <input type="hidden" class="bill" value="" id="Total_Bill" name="Total_Bill" />
                    @if (Model.Count > 0)
                    {
                        @*<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 login_form">
                            <div class="clear_fix">
                                <div class="single_checkbox float_left">
                                    <button type="button" class="btn btn-danger mybtn" onclick="showSwal('custom-html')">Remove</button>

                                    <button type="button" id="remember" onclick="showSwal('email-code-message')">checkbox</button>
                                    <label for="remember">Remember me</label>
                                </div>*
                                 End .single_checkbox 
                                <a href="#" class="float_right">Forgot Password?</a>
                            </div>
                        </div>*@
                                <button id="confirm" data-toggle="modal" data-target="#exampleModal-2" class="cart_btn2 tran3s float_right color2_bg">Checkout Items</button>
                    }
                    else
                    {
                        <button type="button" disabled class="cart_btn2 tran3s float_right color2_bg">No Item to Checkout</button>
                    }
                </div>
            </div>

        </div>
        <!-- /cart_table -->
        <div id="showinvoice">

        </div>
        <div id="AddUserForm">
            <div class="row">
            </div>
        </div>
        <!-- Footer************************* -->

    </div>
</body>
<!-- End of .main_page -->

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Content/adminassets/node_modules/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
    <script type="text/javascript" src="~/Content/adminassets/js/toastDemo.js"></script>
    <script src="~/Content/adminassets/node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Content/adminassets/node_modules/jquery.avgrund/jquery.avgrund.min.js"></script>

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.js"></script>*@

    <script src="/Content/adminassets/js/modal-demo.js"></script>
    <script src="~/Content/adminassets/js/alerts.js"></script>
    <script src="~/Content/adminassets/js/avgrund.js"></script>
    <script type="text/javascript" src="~/Scripts/Notifications.js"></script>
    <script src="~/Scripts/printThis.js"></script>
    <script>
        function del() {
            //$("#removebtn").on('click', function () {
            var itemid = $(".itemid").val();
            var quantity = $(".quantity").val();
            //debugger;
            var getUrl = "/Shopping/Remove";
            //ajax request
            $.ajax({
                url: getUrl,
                type: "GET",
                data: {
                    'itemid': itemid,
                    'quantity': quantity
                },
            }).success(function (res) {
                if (res.res == true) {
                    finalcart();
                    //check();
                    swal({
                        title: 'Success!',
                        text: 'Your Item(s) are successfully Removed!',
                        icon: 'success'
                    }).then(function () {
                        //debugger;
                        //finalcart(); // <--- submit form programmatically
                    });
                }
                //window.location.href = window.location.href;
            });
            //});

        }

        $(document).ready(function () {
            //debugger;
            $("#mesge").hide();
            check();
        });

        $('.table-1 tr').on("click", "#drop", function (event) {
            //debugger;
            var myval = $("#cartquant").val();
            var drop = $("#drop").val();
            if (myval != drop) {
                var diff = drop - myval;
                if (diff != null) {
                    var chck = $(".original").val(diff);
                }
            }

            var $row = $(event.delegateTarget);
            var sal = $row.find(".sales").val();
            //var sal =$('input[name=sales]').val().trim();
            //debugger;
            if (sal.length == '') {
                var quantity = $row.find(".val1").val();
                var totalprice = $row.find(".val2").find('span').text();
                //var total = price * quantity;
            }
            else {
                var quantity = $row.find(".val1").val();
                var orginalprice = $row.find(".val2").find('span').text();
                var sale = $row.find(".sales").val();
                var calcPrice = (orginalprice - (orginalprice * sale / 100));
                var percntprice = parseInt(calcPrice);
                var totalprice = percntprice;
            }
            var total = totalprice * quantity;
            $row.find(".multTotal").find('span').text(total);

            $('.multTotal').each(function () {
                var prevClass = $(this).attr('class');
                var sum = 0;
                $('.' + prevClass).each(function () {
                    sum += Number($(this).text());
                })
                $("#carttotal").find('span').text('Rs ' + sum);
                $("#ordertotal").find('span').text('Rs ' + sum);
            })
        });

        function check() {
            //debugger;
            $('.multTotal').each(function () {
                var prevClass = $(this).attr('class');
                var sum = 0;
                $('.' + prevClass).each(function () {
                    sum += Number($(this).text());
                })
                $("#carttotal").find('span').text('Rs ' + sum);
                var ttt = $("#ordertotal").find('span').text('Rs ' + sum);
                $('#Total_Bill').val(sum);
            })
        }

        $('.table-1 tr').on("click", "#drop", function (event) {
            $('.multTotal').each(function () {
                var prevClass = $(this).attr('class');
                var sum = 0;
                $('.' + prevClass).each(function () {
                    sum += Number($(this).text());
                })
                chek();
                $('#Total_Bill').val(sum);
                $(".doller").text('Rs ' + sum);
                $("#cartot").find('span').text('Total - ' + sum);
            })
        });

        $("[id$=drop1]").click(function () {
            var objArr = [];
            $(".table-1 tr").each(function (e) {
                var itemVal = {};
                //debugger;
                if (e > 0) {
                    var find = chek();
                    if (find != 0) {
                        $(this).find(".original").each(function () {
                            itemVal[$(this).attr('name')] = $(this).val();
                        });
                    }
                    $(this).find(".val1").each(function () {
                        itemVal[$(this).attr('name')] = $(this).val();
                    });
                    $(this).find(".name").each(function () {
                        itemVal[$(this).attr('name')] = $(this).val();
                    });

                    $(this).find(".multTotal").each(function () {
                        itemVal[$(this).attr('name')] = $(this).find('span').text();
                    });
                    objArr.push(itemVal);
                }
            });
            Save(objArr)
        });

        function Save(objArr) {
            var mesge = ""
            $.ajax({
                url: "/Shopping/Shope",
                type: "POST",
                data: { res: objArr },
                success: function (res) {
                    if (res.res == true) {
                        $('#mesge').show().delay(3000).fadeOut("slow");
                        $("#AddUserForm").show();
                    }
                    //data - response from server
                },
                error: function (textStatus, errorThrown) {
                }
            });
        }

    </script>

    <script>
        $("[id$=invoice]").click(function () {
            var objArr = [];
            $(".table-1 tr").each(function (e) {
                var itemVal = {};
                //debugger;
                if (e > 0) {
                    $(this).find(".name").each(function () {
                        itemVal[$(this).attr('name')] = $(this).val();
                    });
                    objArr.push(itemVal);
                }
            });
            invoice(objArr)
        });

        function invoice(objArr) {
            //$('#modelpopup').modal('show');
            //debugger;
            $.ajax({
                url: "/Shopping/InvoicePrint",
                type: "POST",
                data: { res: objArr },
                success: function (result) {
                    $('#AddUserForm').html(result);
                    //$('#showinvoice').html(result);
                    $("#AddUserForm").dialog({
                        autoOpen: true,
                        position: { my: "center", at: "top+350", of: window },
                        width: 1000,
                        resizable: false,
                        title: 'PhalSabzi Invoice',
                        modal: true,
                        open: function () {
                            $(this).load($('#AddUserForm').html(result));
                            subtotal();
                        },
                        buttons: {
                            'Print': function () {
                                $("#AddUserForm").printThis({
                                    importCSS: true, // import page CSS
                                    importStyle: true, // import style tags
                                });
                            },
                            Cancel: function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                    return false;
                },
                error: function (textStatus, errorThrown) {
                }
            });
        }
        //start total for invoice
        function subtotal() {
            $('.printtot').each(function () {
                var prevClass = $(this).attr('class');
                var sum = 0;
                $('.' + prevClass).each(function () {
                    sum += Number($(this).text());
                })
                //debugger;
                $(".pTest").text(sum);
                $(".grandtotal").text(sum);
                var amountword = convertNumberToWords(sum);
                $(".vishide").find('span').text(amountword + 'rupees only');
            })
        }
        //end total for invoice

        //start conversion form numbers to words
        function convertNumberToWords(amount) {
            var words = new Array();
            words[0] = '';
            words[1] = 'One';
            words[2] = 'Two';
            words[3] = 'Three';
            words[4] = 'Four';
            words[5] = 'Five';
            words[6] = 'Six';
            words[7] = 'Seven';
            words[8] = 'Eight';
            words[9] = 'Nine';
            words[10] = 'Ten';
            words[11] = 'Eleven';
            words[12] = 'Twelve';
            words[13] = 'Thirteen';
            words[14] = 'Fourteen';
            words[15] = 'Fifteen';
            words[16] = 'Sixteen';
            words[17] = 'Seventeen';
            words[18] = 'Eighteen';
            words[19] = 'Nineteen';
            words[20] = 'Twenty';
            words[30] = 'Thirty';
            words[40] = 'Forty';
            words[50] = 'Fifty';
            words[60] = 'Sixty';
            words[70] = 'Seventy';
            words[80] = 'Eighty';
            words[90] = 'Ninety';
            amount = amount.toString();
            var atemp = amount.split(".");
            var number = atemp[0].split(",").join("");
            var n_length = number.length;
            var words_string = "";
            if (n_length <= 9) {
                var n_array = new Array(0, 0, 0, 0, 0, 0, 0, 0, 0);
                var received_n_array = new Array();
                for (var i = 0; i < n_length; i++) {
                    received_n_array[i] = number.substr(i, 1);
                }
                for (var i = 9 - n_length, j = 0; i < 9; i++, j++) {
                    n_array[i] = received_n_array[j];
                }
                for (var i = 0, j = 1; i < 9; i++, j++) {
                    if (i == 0 || i == 2 || i == 4 || i == 7) {
                        if (n_array[i] == 1) {
                            n_array[j] = 10 + parseInt(n_array[j]);
                            n_array[i] = 0;
                        }
                    }
                }
                value = "";
                for (var i = 0; i < 9; i++) {
                    if (i == 0 || i == 2 || i == 4 || i == 7) {
                        value = n_array[i] * 10;
                    } else {
                        value = n_array[i];
                    }
                    if (value != 0) {
                        words_string += words[value] + " ";
                    }
                    if ((i == 1 && value != 0) || (i == 0 && value != 0 && n_array[i + 1] == 0)) {
                        words_string += "Crores ";
                    }
                    if ((i == 3 && value != 0) || (i == 2 && value != 0 && n_array[i + 1] == 0)) {
                        words_string += "Lakhs ";
                    }
                    if ((i == 5 && value != 0) || (i == 4 && value != 0 && n_array[i + 1] == 0)) {
                        words_string += "Thousand ";
                    }
                    if (i == 6 && value != 0 && (n_array[i + 1] != 0 && n_array[i + 2] != 0)) {
                        words_string += "Hundred and ";
                    } else if (i == 6 && value != 0) {
                        words_string += "Hundred ";
                    }
                }
                words_string = words_string.split("  ").join(" ");
            }
            return words_string;
        }
        //End conversion form numbers to words

        $('.coupon').keyup(function () {
            $("#capchaErrorMsg").hide();
            var capchanum = $("#capcha").val();
            var capcha = $("#capchainput").val();
            if (capchanum != capcha) {
                $("#capchaErrorMsg").show();
                $('#fine').prop('disabled', true);
                return false;
            }
            else {
                $("#capchaErrorMsg").hide();
                $('#fine').prop('disabled', false);
                return true;
            }
        });

        $("[id$=confirm]").click(function () {
            $('#fine').prop('disabled', true);

            //debugger;
            var getUrl = "/Account/PermotionCode";
            //ajax request
            $.ajax({
                url: getUrl,
                type: "POST",
                data: {
                    'code': $('.code').val()
                },
                success: function (res) {
                    if (res.res == true) {
                        //location.reload();
                    }
                    else {
                        //debugger;
                    }
                },
                error: function (res) {
                    //error
                }
            });
        });

        $("#fine").on('click', function () {
            //debugger;
            var totcart = $("#Total_Bill").val();
            var getUrl = "/Shopping/Invoice";
            //ajax request
            $.ajax({
                url: getUrl,
                type: "POST",
                data: {
                    'Total_Bill': totcart,
                },
                success: function (res) {
                    $("#AddUserForm").hide();
                    location.reload();
                },
                error: function (res) {
                    //error
                }
            });
        });


        function chek() {
            // debugger;
            var myval = $("#cartquant").val();
            var drop = $("#drop").val();
            if (myval != drop) {
                var diff = drop - myval;
                if (diff != null) {
                    var chck = $(".original").val(diff);
                    return chck;
                }
            }
            else {
            }
        }

        showSwal = function (type) {
            event.preventDefault();
            if (type === 'warning-message-and-cancel') {
                swal({
                    title: 'Are you sure?',
                    text: "Item(s) will be removed from order!",
                    //icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3f51b5',
                    cancelButtonColor: '#ff4081',
                    confirmButtonText: 'Great ',
                    buttons: {
                        cancel: {
                            text: "Cancel",
                            value: null,
                            visible: true,
                            className: "btn btn-danger",
                            closeModal: true,
                        },
                        confirm:
                        {
                            text: "OK",
                            value: true,
                            visible: true,
                            className: "btn btn-primary",
                            closeModal: true
                        }
                    }
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        //swal({
                        // title: 'Shortlisted!',
                        //text: 'Candidates are successfully shortlisted!',
                        // icon: 'success'
                        //}).then(function () {
                        del(); // <--- submit form programmatically
                        //});
                    }
                    else {
                        swal("Cancelled", "Your item is safe :)", "error");
                    }

                })

            }
            else if (type === 'custom-html') {
                swal({
                    content: {
                        element: "input",
                        attributes: {
                            placeholder: "Type your confirmation code",
                            type: "password",
                            class: 'form-control coupon'
                        },
                    },
                    button: {
                        text: "OK",
                        value: true,
                        visible: true,
                        className: "btn btn-primary"
                    }
                })
            }
        }

        function finalcart() {
            //$("#cartDropdown").on('click', function () {
            //debugger;
            var getUrl = "/Shopping/ItemsPartial";
            //ajax request
            $.ajax({
                url: getUrl,
                type: "GET",
                success: function (result) {
                    $('#mytab').html(result);
                    check();
                    cartdata();
                },
                error: function (res) {
                    //error
                }
                // complete: function () {
                //    myfun();
                //}
            });
        }



        //$('#remember').change(function () {
        //    if ($(this).is(":checked")) {
        //        //'checked' event code
        //        return;
        //    }
        //    //'unchecked' event code
        //});
    </script>
}
