﻿@model List<PhalSabzi.Models.Wishlist>

@{
    ViewBag.Title = "Wishlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <link rel="stylesheet" href="~/Content/adminassets/node_modules/jquery-toast-plugin/dist/jquery.toast.min.css">
}

<input type="hidden" id="notifyMessage" value="@ViewBag.Message" />

<section class="featured-product">
    <div class="container">

        <div class="row filter-list clearfix" id="MixItUp717B05">
            @foreach (var items in Model)
            {
                            <!--Default Item-->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mix mix_all default-item all beauty others" style="display: inline-block;">
                    <div class="inner-box">
                        <div class="single-item center">
                            <figure class="image-box">
                                <img src="~/Items/Images/@(items.Item.Pic_Path ?? "dummy.jpg")" style="width:170px;height:184px;" alt="">
                                @if (items.Item.Sales != null)
                                {
                                    <div class="product-model new">@items.Item.Sales%</div>
                                }
                                else
                                {
                                    <div class="product-model new">New</div>
                                }
                            </figure>
                            <div class="content">
                                <h3><a href="shop-single.html">@items.Item.Name</a></h3>
                                <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>
                                <div class="price">@items.Item.Price Rs <span class="prev-rate">@items.Item.Price Rs</span></div>
                            </div>
                            <div class="overlay-box">
                                <div class="inner">
                                    <div class="top-content">
                                        <ul>
                                            <li class="tultip-op"><span class="tultip"><i class="fa fa-sort-desc"></i>VIEW PRODUCT</span><a href="~/Home/View/@items.Item.ID"><span class="fa fa-eye"></span></a></li>
                                            <li class="tultip-op"><span class="tultip"><i class="fa fa-sort-desc"></i>ADD TO CART</span><a href="~/Home/AddCart/@items.Item.ID"><span class="icon-icon-32846"></span></a></li>
                                            <li class="tultip-op">
                                                <form id="@items.Item.ID" action="/Shopping/Wishlist" method="post">
                                                    <input type="hidden" value="@items.Item.ID" name="id" />
                                                    <span class="tultip"><i class="fa fa-sort-desc"></i>ADD TO WISHLIST</span>
                                                    <a onclick="document.getElementById('@items.Item.ID').submit(); return false;" href="#/"><span class="fa fa-heart-o"></span></a>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!--Default Item-->
            }
        </div>
    </div>
</section>
<!-- End of section -->
@section Scripts{
    <script type="text/javascript" src="~/Content/adminassets/node_modules/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
    <script type="text/javascript" src="~/Content/adminassets/js/toastDemo.js"></script>
    <script type="text/javascript" src="~/Scripts/Notifications.js"></script>
}