﻿<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-4">User Wishlist Details</h5>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="border-bottom-0">Item Name</th>
                                <th class="border-bottom-0">Price/KG</th>
                                <th class="border-bottom-0">Season</th>
                                <th class="border-bottom-0">Category</th>
                                <th class="border-bottom-0">Type</th>
                                <th class="border-bottom-0">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model.Count > 0)
                                {
                                    int i = 1;
                                    foreach (var item in Model)
                                    {
                                        DateTime dt = item.Creation_Date;
                                        string date = dt.ToString("dd-MM-yyyy");
                                        <tr>
                                            <td>@item.Item.Name</td>
                                            <td>@item.Item.Price</td>
                                            <td>@item.Item.Season</td>
                                            <td>@item.Item.Category</td>
                                            <td>@item.Item.Type</td>
                                            <td>@date</td>
                                        </tr>
                                        i++;
                                    }
                                }
                                else
                                {
                                   <td>
                                        There is no item in wishlist yet!
                                   </td>
                                }

                            }

                        </tbody>
                    </table>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
