﻿@*@model PhalSabzi.Models.AspNetUser*@
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section css{
    <link rel="stylesheet" href="~/Content/adminassets/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="~/Content/adminassets/node_modules/jquery-toast-plugin/dist/jquery.toast.min.css">
}

<input type="hidden" value="@Model.Id" id="userid" />
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-4">User Detail</h5>
                <div class="table-responsive">
                <table id="order-listing" class="table table-hover" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>CNIC</th>
                                <th>Address</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>@Model.UserName</td>
                                <td>@Model.Email</td>
                                <td>@Model.PhoneNumber</td>
                                <td>@Model.CNIC</td>
                                <td>@Model.Address</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
                @Html.ActionLink("Back to List", "Index", "Users", new { area = "Admin" }, new { @class = "btn btn-success mr-2" })
            </div>
        </div>
    </div>
</div>
<button type="button" id="shoptbtn" value="shopping" class="btn btn-success mr-2">User Shopping Details</button>&nbsp; &nbsp; &nbsp;
<button type="button" id="wishlisttbtn" value="wishlist" class="btn btn-success mr-2">User WishList Details</button>

<br />
<br />

<div id="shopepartial">
</div>

<div id="wishlistpartial">
</div>


@section scripts{
@Scripts.Render("~/bundles/indexbundle")

    <script>

        $("#shoptbtn").on('click', function () {
            debugger;
            var userid = $("#userid").val();
            var btnval = $("#shoptbtn").val();
            var getUrl = "/Users/UserShope";
            //ajax request
            $.ajax({
                url: getUrl,
                type: "GET",
                data: { id: userid, view: btnval },
                success: function (result) {
                    $('#shopepartial').html(result);
                    $('#wishlistpartial').hide();
                    $('#shopepartial').show();
                },
                error: function (res) {
                    //error
                }
            });
        });

        $("#wishlisttbtn").on('click', function () {
            debugger;
            var userid = $("#userid").val();
            var btnval = $("#wishlisttbtn").val();
            var getUrl = "/Users/UserShope";
            //ajax request
            $.ajax({
                url: getUrl,
                type: "GET",
                data: { id: userid, view: btnval },
                success: function (result) {
                    $('#wishlistpartial').html(result);
                    $('#shopepartial').hide();
                    $('#wishlistpartial').show();
                },
                error: function (res) {
                    //error
                }
            });
        });

    </script>

}