﻿@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section css{
    <link rel="stylesheet" href="~/Content/adminassets/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="~/Content/adminassets/node_modules/jquery-toast-plugin/dist/jquery.toast.min.css">

<style>
    .status-flag {
        width: 81px;
    }

    .admin-btn {
        width: 139.92px;
    }
</style>

}
<input type="hidden" id="notifyMessage" value="@ViewBag.Message" />
@*<div class="card">
    <div class="card-body">
        <div class="row">
            <a href="~/Admin/Items/Add"><button type="submit" class="btn btn-success btn-lg mr-2">Add New Item</button></a>

        </div>
    </div>
</div>
<br />*@

<div class="card">
    <div class="card-body">
        <h4 class="card-title">All Users</h4>
        <div class="row">
            <div class="col-12">
                <table id="order-listing" class="table table-hover" cellspacing="0">
                    <thead>
                        @{
                            int i = 1;
                        }

                        <tr>
                            <th>Sr #</th>
                            <th>Image</th>
                            <th>User Name</th>
                            @*<th>Email</th>*@
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td class="py-1">
                                            <img src="~/Content/adminassets/images/faces-clipart/pic-1.png" alt="image">
                                    </td>
                                    <td>@item.UserName</td>
                                    @*<td>@item.Email</td>*@
                                    @if (item.Roles.Count == 1)
                                    {
                                        <td><label class="badge badge-success status-flag">Admin</label></td>
                                        <td>
                                            @Html.ActionLink("Remove Admin", "AssignRole", "Users", new { userName = item.UserName, roleName = "Admin", area = "Admin" }, new { @class = "btn btn-outline-danger " })
                                        </td>
                                    }
                                    else
                                    {
                                        <td><label class="badge badge-danger status-flag">User</label></td>
                                        <td>
                                            @Html.ActionLink("Made Admin", "AssignRole", "Users", new { userName = item.UserName, area = "Admin" }, new { @class = "btn btn-outline-success admin-btn" })
                                        </td>
                                    }
                                    <td>
                                        @Html.ActionLink("Disable", "Disable", "Users", new { id = item.Id, area = "Admin" }, new { @class = "btn btn-outline-danger" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Detail", "Detail", "Users", new { id = item.Id, area = "Admin" }, new { @class = "btn btn-outline-success " })
                                    </td>

                                </tr>
                                i++;
                            }
                        }
                        else
                        {
                            <tr><td>No Data Available</td></tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/indexbundle")
}