﻿
@{
    ViewBag.Title = "CreateRole";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add Role</h4>
            @using (Html.BeginForm("CreateRole", "RoleAssign", new { area = "Admin" }, FormMethod.Post, new { id = "commentForm", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="exampleInputName1">Name</label>
                        <input type="text" name="roleName" class="form-control"/>
                        @*@Html.TextBox("roleName", new { @class = "form-control", placeholder = "Name"})*@
                        @*@Html.ValidationMessage("roleName", "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <button type="submit" class="btn btn-success mr-2">Submit</button>
                @Html.ActionLink("Back to List", "Index", "Items", new { area = "Admin" }, new { @class = "btn btn-success mr-2" })}
        </div>
    </div>
</div>

