﻿<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from www.bootstrapdash.com/demo/star-admin-pro/jquery/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 26 Apr 2018 08:03:59 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PhalSabzi | Admin Panel</title>
    @*<link rel="icon" type="image/ico" href="~/Content/tablogo.png" />*@
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Content/adminassets/node_modules/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Content/adminassets/node_modules/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/Content/adminassets/node_modules/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/Content/adminassets/node_modules/perfect-scrollbar/css/perfect-scrollbar.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="~/Content/adminassets/node_modules/morris.js/morris.css" />
    <link rel="stylesheet" href="~/Content/adminassets/node_modules/chartist/dist/chartist.min.css" />
    <link rel="stylesheet" href="~/Content/adminassets/node_modules/jvectormap/jquery-jvectormap.css" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Content/adminassets/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Content/adminassets/images/SASASA.jpg" />
    @RenderSection("css", false)
    <link href="~/Content/css/loaders.min.css" rel="stylesheet" />

    <style>
        .line-scale div {
            background-color: #337ab7 !important;
            max-height: 26px;
        }
    </style>


</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        @Html.Partial("~/Areas/Admin/Views/Shared/_HeaderPartial.cshtml")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
            <div class="theme-setting-wrapper">
                <div id="theme-settings" class="settings-panel">
                    <i class="settings-close mdi mdi-close"></i>
                    <div class="d-flex align-items-center justify-content-between border-bottom">
                        <p class="settings-heading font-weight-bold border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Template Skins</p>
                    </div>
                    <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
                    <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
                    <p class="settings-heading font-weight-bold mt-2">Header Skins</p>
                    <div class="color-tiles mx-0 px-4">
                        <div class="tiles primary"></div>
                        <div class="tiles success"></div>
                        <div class="tiles warning"></div>
                        <div class="tiles danger"></div>
                        <div class="tiles pink"></div>
                        <div class="tiles info"></div>
                        <div class="tiles dark"></div>
                        <div class="tiles default"></div>
                    </div>
                </div>
            </div>
            <div id="right-sidebar" class="settings-panel">
                <i class="settings-close mdi mdi-close"></i>
                <div class="d-flex align-items-center justify-content-between border-bottom">
                    <p class="settings-heading font-weight-bold border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Logout</p>
                </div>
                <ul class="chat-list">
                    <li class="list active">
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                            }
                        }
                    </li>
                </ul>
            </div>

            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            @Html.Partial("~/Areas/Admin/Views/Shared/_SidebarPartial.cshtml")
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">

                    @RenderBody()

                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018 <a href="http://www.pshealth.punjab.gov.pk/" target="_blank">HISDU</a>. All rights reserved.</span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Content/adminassets/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/adminassets/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/Content/adminassets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/adminassets/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    @*<script src="~/Content/adminassets/node_modules/raphael/raphael.min.js"></script>
    <script src="~/Content/adminassets/node_modules/morris.js/morris.min.js"></script>
    <script src="~/Content/adminassets/node_modules/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Content/adminassets/node_modules/chartist/dist/chartist.min.js"></script>
    <script src="~/Content/adminassets/node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="~/Content/adminassets/node_modules/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="~/Content/adminassets/node_modules/jvectormap/tests/adminassets/jquery-jvectormap-world-mill-en.js"></script>*@
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    @*<script src="~/Content/adminassets/js/off-canvas.js"></script>
    <script src="~/Content/adminassets/js/hoverable-collapse.js"></script>
    <script src="~/Content/adminassets/js/misc.js"></script>
    <script src="~/Content/adminassets/js/settings.js"></script>
    <script src="~/Content/adminassets/js/todolist.js"></script>
     endinject*@ 
    <!-- Custom js for this page-->
    <script src="~/Content/adminassets/js/settings.js"></script>
    <script src="~/Content/adminassets/js/dashboard.js"></script>
    <!-- End custom js for this page-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            for (var i = 1; i < 5; i++) {
                load(i);
            }
        });
        function load(id) {
            $("#L-" + id).show();
            var getUrl = "/Items/DashboardCounters";
            $.ajax({
                url: getUrl,
                type: "POST",
                data: { flag: id },
                success: function (response) {
                    $("#P-" + id).html(response.count);
                    $("#L-" + id).hide();
                },
                complete: function (data) {
                }
            });
        }
    </script>

</body>

<!-- Mirrored from www.bootstrapdash.com/demo/star-admin-pro/jquery/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 26 Apr 2018 08:04:55 GMT -->
</html>
