﻿<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo" href="#/"><img src="~/Content/Logo office.png" style="width:70%;height:260%;" alt="logo" /></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
            <li class="nav-item">
                @*<a href="pages/apps/gallery.html" class="nav-link"><i class="mdi mdi-image-filter"></i>Gallery</a>*@
            </li>
            <li class="nav-item active">
                @*<a href="pages/apps/email.html" class="nav-link"><i class="mdi mdi-email-outline"></i>Inbox</a>*@
            </li>
            <li class="nav-item">
                @*<a href="~/Home/Index" class="btn btn-primary nav-link"><i class="mdi mdi-calendar"></i>Back To Main Portal</a>*@
            </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-settings d-none d-lg-block">
                <a class="nav-link" href="#/">
                    <img class="img-xs rounded-circle" src="~/Content/p.ico" alt="">
                </a>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="icon-menu"></span>
        </button>
    </div>
</nav>

