﻿
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="profile-image"> <img src="~/Content/p.ico" alt="image" /> <span class="online-status online"></span> </div>
                <div class="profile-name">
                    <p class="name">Admin Panel</p>
                    @*<p class="designation">Manager</p>*@
                    <a href="~/Home/Index"><div class="btn btn success btn-lg badge-teal mx-auto mt-3">Back To Main Portal</div></a>
                </div>
            </div>
        </li>
        @*<li class="nav-item"> <a class="nav-link" href="index-2.html"> <img class="menu-icon" src="~/Content/adminassets/images/menu_icons/01.png" alt="menu icon"> <span class="menu-title">Dashboard</span></a> </li>*@
       
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link" href="~/Admin/Items/Dashboard" aria-expanded="false" aria-controls="page-layouts"> <img class="menu-icon" src="~/Content/adminassets/images/menu_icons/01.png" alt="menu icon"> <span class="menu-title">Dasboard </span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Admin/Items/Index" aria-expanded="true" aria-controls="page-layouts"> <img class="menu-icon" src="~/Content/adminassets/images/menu_icons/28.png" alt="menu icon"> <span class="menu-title">Add Items</span><div id="L-1" class="line-scale"><div></div><div></div><div></div><div></div><div></div></div><div class="badge badge-pill badge-success" id="P-1"></div></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Admin/Users/Index"><img class="menu-icon" src="~/Content/adminassets/images/menu_icons/18.png" alt="menu icon"> <span class="menu-title">All Users</span><div id="L-2" class="line-scale"><div></div><div></div><div></div><div></div><div></div></div><div class="badge badge-pill badge-success" id="P-2"></div></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Admin/RoleAssign/Index"><img class="menu-icon" src="~/Content/adminassets/images/menu_icons/18.png" alt="menu icon"> <span class="menu-title">Assign Roles</span><div id="L-2" class="line-scale"><div></div><div></div><div></div><div></div><div></div></div><div class="badge badge-pill badge-success" id="P-2"></div></a>
            </li>
        }

    </ul>
</nav>
